<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-grid gap-1" th:fragment="map(partOfDay, partOfDayPicture)">
    <div class="row">
        <div class="col-2"></div>
        <div id="map" class="col white_background bordered">
            <IMG SRC="https://www.creditinfo.ee/wp-content/uploads/2019/11/Eesti-kaart.png" ALT="Site map"
                 USEMAP="#mymap"
                 WIDTH=712 HEIGHT=434>
            <span style="top: 0;left: 0;position: absolute">
            <img class="big_picture" th:src="${partOfDayPicture}">
        </span>
        </div>
        <div class="col-2"></div>
    </div>
    <map id="mymap" name="mymap">
        <area shape="rect" th:title="${partOfDay.places.get(0).toSummaryString()}"
              th:data-name="${partOfDay.places.get(0).toDataString()}" coords="286,20,348,82"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.places.get(1).toSummaryString()}"
              th:data-name="${partOfDay.places.get(1).toDataString()}" coords="574,44,666,136"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.places.get(2).toSummaryString()}"
              th:data-name="${partOfDay.places.get(2).toDataString()}" coords="472,228,562,318"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.places.get(3).toSummaryString()}" coords="268,212,326,272"
              th:data-name="${partOfDay.places.get(3).toDataString()}"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.places.get(4).toSummaryString()}"
              th:data-name="${partOfDay.places.get(4).toDataString()}" coords="48,236,108,296"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.places.get(5).toSummaryString()}"
              th:data-name="${partOfDay.places.get(5).toDataString()}" coords="370,136,436,202"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.winds.get(0).toSummaryString()}"
              th:data-name="${partOfDay.winds.get(0).toDataString()}"
              coords="264,70,392,192"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.winds.get(1).toSummaryString()}"
              th:data-name="${partOfDay.winds.get(1).toDataString()}"
              coords="428,26,578,176"
              target="_self"/>
        <area shape="rect" th:title="${partOfDay.winds.get(2).toSummaryString()}"
              th:data-name="${partOfDay.winds.get(2).toDataString()}"
              coords="374,218,498,328"
              target="_self"/>
    </map>
    <div class="row">
        <div class="col-2"></div>
        <div class="col bg-info bg-opacity-50">
            <div>
                <span th:text="'Phenomenon: ' + ${partOfDay.phenomenon}"></span>
            </div>
            <div th:hidden="${#strings.isEmpty(partOfDay.sea)}">
                <span th:text="'Sea: ' + ${partOfDay.sea}"></span>
            </div>
            <div th:hidden="${#strings.isEmpty(partOfDay.peipsi)}">
                <span th:text="'Peipsi: ' + ${partOfDay.peipsi}"></span>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>